<footer class="md-footer">
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">

            <a href="https://scienceit.lbl.gov" title="Lawrence Berkeley National Laboratory" class="md-footer__button md-logo" aria-label="Lawrence Berkeley National Laboratory" data-md-component="logo">
                <img src="/scienceit-docs/assets/11_BL_IT_logo_white.png" alt="logo" />
            </a>

            <div class="md-copyright">
                <a href="https://scienceit.lbl.gov">Science IT</a> - <a href="https://it.lbl.gov">IT Division</a> - <a href="https://lbl.gov">Lawrence Berkeley National Laboratory</a> | <a href="https://www.lbl.gov/terms-and-conditions/" target="_blank">Privacy & Security Notice</a>
            </div>
        </div>
    </div>
</footer>