.md-header__button.md-logo img {
  width: 100px;
  height: auto;
}

.md-nav__button.md-logo img {
  width: 100px;
  height: auto;
}

.md-footer__button.md-logo img {
  width: 100px;
  height: auto;
}

.md-nav .md-nav--primary .md-nav--lifted .md-nav__title label {
  display: none;
}

.md-grid {
  max-width: 1440px; 
}

:root {
  --md-primary-fg-color--dark: #007681;
  --md-primary-fg-color--light: #B1B3B3;
  --md-primary-fg-color:  #00313C;
  --md-text-font: "Montserrat"
}

.md-banner {
  background-color: var(--md-primary-fg-color--dark);
}
